<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>MONGODB_HOST</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>MONGODB_PORT</param-name>
        <param-value>27017</param-value>
    </context-param>

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /Extra/Softwares/Web_DB_servers/apache-tomcat-8.0.15/webapps/data/
        </param-value>
    </context-param>


    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.AddItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/additem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>moReceiver</servlet-name>
        <servlet-class>hms.kite.samples.api.sms.MoSmsReceiver</servlet-class>
        <init-param>
            <param-name>smsReceiver</param-name>
            <param-value>com.sms.sample.MoReceiver</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.Dashboard</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>moReceiver</servlet-name>
        <url-pattern>/moReceiver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserMessages</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.UserMessages</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserMessages</servlet-name>
        <url-pattern>/UserMessages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sendMessage</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.sendMessage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.Query</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.Register</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Company_reg</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.Company_Reg</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Company_reg</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.Login</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/loginPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>item</servlet-name>
        <servlet-class>com.hardwhere.controller.servlets.itemDetails</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>item</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    
    

</web-app>